<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/libraries/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/df8ff1e022.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <title>Vista-se Loja Online</title>
</head>
<body>
    <% if(user){ %>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-3">  
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Modo administrador</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/add">Adicionar Roupa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tags">Editar Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Sair</a>
                </li>
            </ul>
        </nav>  
    <% } %>

    <nav id="mainNavbar" class="navbar navbar-expand-sm fixed-top bg-light">
        <div class="container">
            <a href="/" class="navbar-brand mr-5">
                <img src="/imgs/Logo.png" alt="Logo" id="logo">
            </a>
            <button class="navbar-toggler navbar-light" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navLinks">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown hover">
                        <a class="nav-link text-dark dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                          Masculino
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item select" href="/masculino">Tudo</a>
                            <% tags.masculino.forEach(function(tag){ %>
                                <a class="dropdown-item masculino select" href="/masculino/<%= tag.tag2 %>">
                                    <%= tag.tag2.charAt(0).toUpperCase() +  tag.tag2.slice(1) %>
                                </a>
                            <% }); %>
                        </div>
                    </li>
                    <li class="nav-item dropdown hover">
                        <a class="nav-link text-dark dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Feminino
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item select" href="/feminino">Tudo</a>
                            <% tags.feminino.forEach(function(tag){ %>
                                <a class="dropdown-item feminino select" href="/feminino/<%= tag.tag2 %>">
                                    <%= tag.tag2.charAt(0).toUpperCase() +  tag.tag2.slice(1) %>
                                </a>
                            <% }); %>
                        </div>
                    </li>
                    <li class="nav-item dropdown hover">
                        <a class="nav-link text-dark dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Infantil Masculino
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item select" href="/infantil-masculino">Tudo</a>
                            <% tags.infMasculino.forEach(function(tag){ %>
                                <a class="dropdown-item infantil-masculino select" href="/infantil-masculino/<%= tag.tag2 %>">
                                    <%= tag.tag2.charAt(0).toUpperCase() +  tag.tag2.slice(1) %>
                                </a>
                            <% }); %>
                        </div>
                    </li>
                    <li class="nav-item dropdown hover">
                        <a class="nav-link text-dark dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Infantil Feminino
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item select" href="/infantil-feminino">Tudo</a>
                            <% tags.infFeminino.forEach(function(tag){ %>
                                <a class="dropdown-item infantil-feminino select" href="/infantil-feminino/<%= tag.tag2 %>">
                                    <%= tag.tag2.charAt(0).toUpperCase() +  tag.tag2.slice(1) %>
                                </a>
                            <% }); %>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <!-- <a class="nav-link hover" href="#"><i class="fab fa-facebook-f text-dark px-1"></i></a> -->
                        <a class="nav-link hover social" href="https://www.facebook.com/alexsandro.pereirasantana" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <!-- <a class="nav-link hover social" href="#"><img src="/imgs/face-icon.jpeg" width="30"></a> -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover social" href="https://www.instagram.com/vista_se_t.o/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <!-- <a class="nav-link hover social" href="#"><img src="/imgs/insta-icon.jpeg" width="30"></a> -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover social" href="http://wa.me/5533999560372" target="_blank"><i class="fab fa-whatsapp-square"></i></a>
                        <!-- <a class="nav-link hover social" href="#"><img src="/imgs/whats-icon.jpeg" width="30"></a> -->
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link hover social" href="#"><i class="fab fa-instagram text-dark px-1"></i></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger"><p><%=error %></p></div>
        <% } %>
        
        <% if(success && success.length > 0) { %>
            <div class="alert alert-success"><p><%= success %></p></div>
        <% } %>
    </div>