<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/libraries/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/df8ff1e022.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <title>Vista-se</title>
</head>
<body>
    <% if(user){ %>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Modo administrador</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/add">Adicionar Roupa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tags">Adicionar Categoria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Sair</a>
                </li>
            </ul>
        </nav>  
    <% } %>

    <nav id="mainNavbar" class="navbar navbar-expand-sm m-0 p-1">
        <div class="container">
            <a href="/" class="navbar-brand mr-5">
                <img src="/imgs/logo.jpg" alt="Logo" id="logo">
            </a>
            <button class="navbar-toggler navbar-light" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navLinks">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown hover">
                        <a class="nav-link text-dark dropdown-toggle" href="/masculino" id="navbardrop" data-toggle="dropdown">
                          Masculino
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/masculino">Tudo</a>
                            <% Object.keys(tags.masculino).forEach(function(key) { %>
                                <a class="dropdown-item" href="/masculino/<%= tags.masculino[key] %>">
                                    <%= tags.masculino[key].charAt(0).toUpperCase() + tags.masculino[key].slice(1) %>
                                </a>
                            <% }); %>
                        </div>
                    </li>
                    <li class="nav-item d-none d-sm-block">
                        <div class="mx-0 nav-link text-secondary">|</div>
                    </li>
                    <li class="nav-item dropdown hover">
                        <a class="nav-link text-dark dropdown-toggle" href="/feminino" id="navbardrop" data-toggle="dropdown">
                            Feminino
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/feminino">Tudo</a>
                            <% Object.keys(tags.feminino).forEach(function(key) { %>
                                <a class="dropdown-item" href="/feminino/<%= tags.feminino[key] %>">
                                    <%= tags.feminino[key].charAt(0).toUpperCase() + tags.feminino[key].slice(1) %>
                                </a>
                            <% }); %>
                        </div>
                    </li>
                    <li class="nav-item d-none d-sm-block">
                        <div class="mx-0 nav-link text-secondary">|</div>
                    </li>
                    <li class="nav-item dropdown hover">
                        <a class="nav-link text-dark dropdown-toggle" href="/infantil-masculino" id="navbardrop" data-toggle="dropdown">
                            Infantil Masculino
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/infantil-masculino">Tudo</a>
                            <% Object.keys(tags.infantilMasculino).forEach(function(key) { %>
                                <a class="dropdown-item" href="/infantil-masculino/<%= tags.infantilMasculino[key] %>">
                                    <%= tags.infantilMasculino[key].charAt(0).toUpperCase() + tags.infantilMasculino[key].slice(1) %>
                                </a>
                            <% }); %>
                        </div>
                    </li>
                    <li class="nav-item d-none d-sm-block">
                        <div class="mx-0 nav-link text-secondary">|</div>
                    </li>
                    <li class="nav-item dropdown hover">
                        <a class="nav-link text-dark dropdown-toggle" href="/infantil-feminino" id="navbardrop" data-toggle="dropdown">
                            Infantil Feminino
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/infantil-feminino">Tudo</a>
                            <% Object.keys(tags.infantilFeminino).forEach(function(key) { %>
                                <a class="dropdown-item" href="/infantil-feminino/<%= tags.infantilFeminino[key] %>">
                                    <%= tags.infantilFeminino[key].charAt(0).toUpperCase() + tags.infantilFeminino[key].slice(1) %>
                                </a>
                            <% }); %>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link hover" href="#"><i class="fab fa-facebook-f text-dark px-1"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover" href="#"><i class="fab fa-instagram text-dark px-1"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <hr class="mt-0 mb-5 style-two">