<% include ./partials/header %>

<div class="container">
    <% if (clothes.length < 1){ %>
        <h2 class="text-center">Oops!! Nada a mostrar por enquanto...</h2>
        <div style="height:274px;">
        </div>
    <% } %>
    <div class="card-columns">
        <% clothes.forEach(function(cloth){ %>
        <div class="card">
            <img class="card-img-top img-fluid " src="<%= cloth.image %>" alt="Card image cap" data-toggle="modal" data-target="#id<%= cloth._id %>">
            <div class="card-body">
                <p class="card-title m-0"><%= cloth.description %></p>
                <% if(user){ %>
                    <% let currentTags = {}; %>
                    <% if(cloth.tag1 === "masculino") { %>
                        <% currentTags = tags.masculino; %>
                    <% } else if(cloth.tag1 === "feminino") { %>
                        <% currentTags = tags.feminino; %>
                    <% } else if(cloth.tag1 === "infantil masculino") { %>
                        <% currentTags = tags.infMasculino; %>
                    <% } else if(cloth.tag1 === "infantil feminino") { %>
                        <% currentTags = tags.infFeminino; %>
                    <% } else { %>
                        <% currentTags = "nenhuma"; %>
                    <% } %>
                    <form class="form-inline my-2" action="/<%=cloth._id %>?_method=PUT" method="POST">
                        <input type="text" class="form-control" style="width: 100%;" value= "<%= cloth.description %>" name="description" id="description">
                        <select class="form-control" style="width: 60%;" name="tag2" id="tag2">
                            <% let isNothing = true; %>
                            <% currentTags.forEach(function(tag){ %>
                                <% let isSelected = ""; %>
                                <% if (cloth.tag2 === tag.tag2) { %>
                                   <% isSelected = "selected"; %>
                                   <% isNothing = false %>
                                <% } %>
                                <option <%= isSelected %>>
                                    <%= tag.tag2.charAt(0).toUpperCase() +  tag.tag2.slice(1) %>
                                </option>
                            <% }); %>
                            <% if (isNothing) { %>
                                <option selected>Nenhuma</option>
                            <% } %>
                        </select>
                        <button class="btn btn-sm btn-warning ml-auto">Mudar</button>
                    </form>
                    <form class="delete-form" action="/<%= cloth._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger mt-1">Delete</button>
                    </form>
                <% } %>
            </div>
        </div>
        <div class="modal fade" id="id<%= cloth._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><%= cloth.description %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="card-img-top img-fluid " src="<%= cloth.image %>" alt="Card image cap">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>  

<% include ./partials/footer %>